<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']">HeroApp</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true }">
          <a i18n="link text for navbar option 1 @@navOpt1"
            [routerLink]="['/']">Dashboard <span class="sr-only">(current)</span></a></li>
        <li routerLinkActive="active">
          <a  i18n="link text for navbar option 2 @@navOpt2"
            [routerLink]="['/heroes']">Heroes</a></li>
        <li routerLinkActive="active">
          <a i18n="link text for navbar option 3 @@navOpt3"
            [routerLink]="['/courses']">Courses</a></li>
      </ul>
    </div>
  </div>
</nav>

